@model IEnumerable<TLMultimarcas.Models.Marca>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <label class="control-subtitle">
            Compre o seu carro:
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Marca:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                @Html.DropDownList("selectMarca", ViewBag.brandsname as SelectList, "Selecione", new { @class = "fore-control"})
                @*<select class="fore-control" id="selectMarca">
                    <option value="">Selecione</option>
                    @foreach (var item in Model)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.IdMarca)">
                            @Html.DisplayFor(modelItem => item.NomeMarca)
                        </option>

                    }
                </select>*@
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Modelo:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <select class="fore-control" id="selectModelo">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Preços:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <select class="fore-control" id="selectValor">
                    <option value="">Selecione</option>
                    <option value="1">Abaixo de 20.000</option>
                    <option value="2">De 20.000 a 30.000</option>
                    <option value="3">De 30.000 a 40.000</option>
                    <option value="4">De 40.000 a 50.000</option>
                    <option value="5">De 50.000 a 60.000</option>
                    <option value="6">De 60.000 a 70.000</option>
                    <option value="7">Acima de 70.000</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btnHome" id="buttonHome">Buscar <i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color:#F4F4F4">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Chevrolet">
                <img src="~/Images/LogosMarcas/ChevroletLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Citroen">
                <img src="~/Images/LogosMarcas/CitroenLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Fiat">
                <img src="~/Images/LogosMarcas/FiatLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Ford">
                <img src="~/Images/LogosMarcas/FordLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Honda">
                <img src="~/Images/LogosMarcas/HondaLogo.png" width="120" height="90" />
            </a>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Hyundai">
                <img src="~/Images/LogosMarcas/HyundaiLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Peugeot">
                <img src="~/Images/LogosMarcas/PeugeotLogo.png" width="120" height="90" />
            </a>
            <a class="col-lg-2" style="text-align:center" href="~/Veiculos/Renault">
                <img src="~/Images/LogosMarcas/RenaultLogo.png" width="120" height="90" />
            </a>
            <div class="col-lg-2" style="text-align:center">
                <img src="~/Images/LogosMarcas/ToyotaLogo.png" width="120" height="90" />
            </div>
            <div class="col-lg-2" style="text-align:center">
                <img src="~/Images/LogosMarcas/VolkswagenLogo.png" width="120" height="90" />
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
    </div>
</div>

<div>
    <label class="invisible">
        Botão:
    </label>
</div>

<script language="JavaScript" src="~/Scripts/JavaScript.js"></script>