@model IEnumerable<TLMultimarcas.Models.Veiculo>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3">
        <select class="fore-control">
            <option value="">Escolha uma marca.</option>
            @foreach (var item in Model)
            {
                <option>
                    @Html.DisplayFor(modelItem => item.Marca.NomeMarca)
                </option>
            }
        </select>
    </div>
    <div class="col-lg-3">
        <select class="fore-control">
            <option value="">Escolha um modelo.</option>
        </select>
    </div>
    <div class="col-lg-3">
        <select class="fore-control">
            <option value="">Escolha um valor.</option>
        </select>
    </div>
    <div class="col-lg-3">
        button
    </div>
</div>