@model IEnumerable<TLMultimarcas.Models.Marca>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3" style="text-align:center">
        <label class="control-subtitle">
            Compre o seu carro:
        </label>
    </div>
    <div class="col-lg-9"></div>
</div>
<div class="row">
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">
                    Marca:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-12">
                <select class="fore-control">
                    <option value="">Selecione</option>
                    @foreach (var item in Model)
                    {
                        <option>
                            @Html.DisplayFor(modelItem => item.NomeMarca)
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">
                    Modelo:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-12">
                <select class="fore-control">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">
                    Preços:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-12">
                <select class="fore-control">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <button class="btnHome">
                Buscar
                <img src="~/Images/Icons/searchImage.png" width="20" height="20"/>
            </button>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/CruzeSport6.png" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/Tracker.png" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/Trailblazer.png" />
    </div>
</div>

<script>
    $("#btnFooter").click(function () {
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    });
</script>