@model IEnumerable<TLMultimarcas.Models.Marca>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <label class="control-subtitle">
            Compre o seu carro:
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-3" >
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Marca:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <select class="fore-control">
                    <option value="">Selecione</option>
                    @foreach (var item in Model)
                    {
                        <option>
                            @Html.DisplayFor(modelItem => item.NomeMarca)
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Modelo:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <select class="fore-control">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <label class="control-label">
                    Preços:
                </label>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <select class="fore-control">
                    <option value="">Selecione</option>
                    <option value="1">Abaixo de 20.000</option>
                    <option value="2">De 20.000 a 30.000</option>
                    <option value="3">De 30.000 a 40.000</option>
                    <option value="4">De 40.000 a 50.000</option>
                    <option value="5">De 50.000 a 60.000</option>
                    <option value="6">De 60.000 a 70.000</option>
                    <option value="7">Acima de 70.000</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align:center">
        <div class="row">
            <div class="col-lg-12">
                <label class="invisible">
                    Botão:
                </label>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
            <button class="btnHome">Buscar <i class="fas fa-search"></i></button>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/CruzeSport6.png" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/Tracker.png" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Chevrolet/Trailblazer.png" />
    </div>
</div>

<script>
    $("#btnFooter").click(function () {
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    });
</script>