body {
    background-color: #fff;
}

.nav-link {
    text-transform: uppercase;
    font: 15px;
    font-family: 'toyota_displayregular', Arial, Helvetica, sans-serif;
    color: brown;
    margin-top: 20px;
}

.city {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.phone {
    color: #fff;
    font-size: 25px;
    font-weight:500;
}

.address{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.footer {
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 15px
}

.control-label {
    font-size: 15px;
    color: white;
    margin-bottom: 2px;
}

.control-subtitle {
    font-size: 20px;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}

label {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
}