<div class="footer">
    <div class="row">
        <div class="col-lg-4">
            <div class="city">
                Dois Irmãos
            </div>
            <div class="phone">
                (51) 3564 4977
            </div>
            <div class="address">
                Av. Irineu Becker, 1270
            </div>
        </div>
        <div class="col-lg-4">
            <div class="city">
                Ivoti
            </div>
            <div class="phone">
                (51) 3563 4977
            </div>
            <div class="address">
                Av. Bom Jardim, 2200
            </div>
        </div>
        <div class="col-lg-4">
            <div class="city">
                Alecrim
            </div>
            <div class="phone">
                (55) 3546 4977
            </div>
            <div class="address">
                Av. Carlos Alberto Schaedler, 490
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="schedule">
                Horário de Atendimento: De segunda a sexta das 8:00 às 19h e Sábados das 9:00 às 17h
            </div>            
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>